@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: "Poppins",sans-serif;
}

canvas {
  max-height: 100vh;
}

.canvas-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.next-section {
  height: 100vh;
}

.container { 
  max-width: 600px; 
  margin-top: 50px; 
}

.tip { 
  display: none; 
  color: blue; 
  font-style: italic; 
}